.dog-widget {
  border: 5px dashed green;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
}

.dog-widget__btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 16px;
}

.dog-widget__img {
  width: 100%;
  height: 100%;
}
